.estilo-about{
    color:#d5d5d5 !important;
    display: flex !important;
    width: 60% !important;
    height: auto !important;
    margin: 0 auto !important;
    font-size: 20px !important;
    text-align: left !important;
    padding-top: 50px;
    padding-bottom: 50px;
    
}