* {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
article {
  position: relative;
}
section {
  color: rgb(0, 94, 255);
  background-color: #1a1a1a;
}
p {
  display: inline;
  color: #d5d5d5;
  font-size: 22px;
}
