.contenedor-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.estilo-texto-logos img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.estilo-texto-logos img {
  filter: grayscale();
  width: 100px;
  height: 100px;
  object-fit: contain;
  vertical-align: bottom;
  transition: 0.4s all ease;
  margin: 10px 50px 10px 50px;
}
.ajuste-tamaño {
  height: auto;
  width: 400px;
}
#imagen-2 {
  width: 5%;
  height: auto;
}
#imagen-3,
#imagen-4,
#imagen-5,
#imagen-6,
#imagen-9,
#imagen-10 {
  width: 10%;
  height: auto;
}
#imagen-7 {
  width: 15%;
  height: auto;
}
#imagen-8 {
  width: 20%;
  height: auto;
}
#imagen-0,
#imagen-1,
#imagen-11,
#imagen-12,
#imagen-13 {
  width: 6% !important;
  height: auto !important;
}
#imagen-14,
#imagen-15,
#imagen-16 {
  width: 6%;
  height: auto;
}
@media only screen and (max-width: 1100px) {
  .estilo-resto-article {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .contenedor-logo {
    justify-content: center;
  }
  .estilo-texto-logos img {
    margin: 5px 15px;
    filter: none !important;
  }
  article {
    width: 100%;
    height: auto;
  }
}
