.estilo-primer-article {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  padding-top: 5%;
}
.texto-primer-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  font-weight: 500;
  caret-color: transparent;
}
.texto-primer-article h1 {
  font-size: 50px;
  margin: 25px 0;
  caret-color: transparent;
}
.Typewriter__cursor{
  color: transparent;
}

.estilo-primer-article img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  height: auto;
  filter: grayscale(0);
  transition: 0.7s all ease;
}
.estilo-primer-article img:hover {
  filter: grayscale(1);
}
.estilo-flecha {
  width: 15%;
  height: auto;
  filter: opacity(0.5) drop-shadow(#d5d5d5);
  
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
img {
  /* 
	-moz-filter: opacity(0.5) drop-shadow(0 0 0 white);
	-webkit-filter: opacity(0.5) drop-shadow(0 0 0 white);
	filter: drop-shadow(0 0 0 rgb(2, 0, 0)); */
  /* 
  filter: brightness(1.1);
  mix-blend-mode: multiply; */
  /*  filter: opacity(0.5) drop-shadow(0 0 0 rgb(8, 80, 195)) saturate(3000%)  grayscale(200%)  contrast(60%)  brightness(1.6) blur(2px) */
  width: 30%;
}
.flecha {
  width: 200px !important;
  height: auto !important;
  text-align: center !important;
  margin: 0 auto !important;
  padding-top: 40px;
}
.centrado-flecha {
  display: inline-block !important;
}
.estilo-flecha {
  color: rgb(8, 80, 195);
  transform: rotate(90deg) scale(1.9);
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media only screen and (max-width: 600px){
  .texto-primer-article p{
    display: flex;
margin-left: 3px;
  }
  
  .estilo-primer-article{
    flex-direction: column;
    align-items: center;
  }
  .estilo-mobile{
    display:flex;
    justify-content: center;
  }
  .estilo-primer-article img{
    width: 80%;
    margin: 30px auto 10px auto;
    position: relative;
  }
}